# Ignore everything by default
*

# extensions
!*.adoc
!*.c
!*.cpp
!*.h
!*.html
!*.jpg
!*.ld
!*.md
!*.mp3
!*.pdf
!*.pio
!*.png
!*.svg
!*.rules
!*.xcf
!*.yml
!*.zip

# specific files
!.gitignore
!.gitattributes
!LICENSE
!CMakeLists.txt
!send_sid

# folders
!.github
!.github/**
!src
!src/pio
!lib
!lib/emulator
!lib/emudore-embedded
!lib/emudore-embedded/**
!lib/emulator/roms
!doc
!doc/images
!doc/images/firmware
!doc/images/software
!doc/images/v1.0
!doc/images/v1.3
!hardware
!hardware/**
!images
!images/tees
!media
!resources
!examples
!examples/cloje64
!examples/cloje64/**
!examples/configtool
!examples/configtool/*
!examples/config-tool
!examples/config-tool/**
!examples/config-tool/inih
!examples/config-tool/inih/**
!examples/send_sid
!examples/drivers
!examples/drivers/hardsid-sidblaster
!examples/drivers/hardsid-sidblaster/**
!examples/libsidplayfp
!examples/libsidplayfp/**
!examples/sidplayfp
!examples/sidplayfp/**
!examples/USBSID-Pico-driver
!examples/USBSID-Pico-driver/**
!examples/sidberry
!examples/vice
!examples/retrodebugger
!examples/libsidplayfp
!examples/sidplayfp
!examples/USBSID-Pico-driver
!examples/hardsid-sidblaster
!examples/udev-rules
!cases
!cases/**

# folder contents
!examples/hardsid-sidblaster/**
