# Ignore everything by default
*

# extensions
!*.adoc
!*.c
!*.cpp
!*.h
!*.html
!*.ini
!*.jpg
!*.ld
!*.md
!*.mp3
!*.pdf
!*.pio
!*.png
!*.svg
!*.rules
!*.xcf
!*.yml
!*.zip

# specific files
!.gitignore
!.gitattributes
!LICENSE
!CMakeLists.txt
# tool files
!cfg_usbsid
!cfg_usbsid.exe
!send_sid
!send_sid.exe
!libusb-1.0.dll
!libwinpthread-1.dll

# repo directories
!.github
!.github/**
!.gitlab
!.gitlab/**

# firmware source directories
!src
!src/pio
!lib
!lib/emulator
!lib/emudore-embedded
!lib/emudore-embedded/**
!lib/emulator/roms

# non firmware related directories
!cases
!cases/**
!doc
!doc/images
!doc/images/firmware
!doc/images/software
!doc/images/v1.0
!doc/images/v1.3
!hardware
!hardware/**
!images
!images/tees
!media
!examples
!examples/cloje64
!examples/cloje64/**
!examples/config-tool
!examples/config-tool/ini-examples
!examples/config-tool/inih
!examples/config-tool/inih/**
!examples/send_sid
!examples/send_sid/**
!examples/hardsid-sidblaster
!examples/hardsid-sidblaster/**
!examples/udev-rules
!examples/udev-rules/**
!examples/vmpk
!examples/vmpk/**
!examples/webconfig-tool
!examples/webconfig-tool/**
!resources
